 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">B.Tech in Electrical and Electronics Engineering</h4>
    <h5 class="meta">Pondicherry University</h5>
    <div class="time">2008 - 2011</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Diploma in Electrical and Electronics Engineering</h4>
    <h5 class="meta">Karaikal Polytechnic College</h5>
    <div class="time">2005 - 2008</div>
</div><!--//item-->
</div><!--//education-container-->
