<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
<!--                <div class="intro">
                    <p>Some of the project assignments.</p>
                </div>--><!--//intro-->
             

                <div class="item">
                    <span class="project-title">SQL Server to Parallel Data Warehouse (PDW) migration. (Nov 2015 – Aug 2016)</span> - 
                    <p><span class="project-tagline">The objective of this project is to migrate the various life and non-life insurance applications from existing SQL Server 2008 R2 environment to Parallel Data Warehouse (PDW) to have better performance and to save cost in storage for a insurance company in Sweden. </span></p>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">ETL Application Development and Maintenance. (Jan 2013 – Present)</span> - 
                    <p><span class="project-tagline">The aim of this project is to integrate new source systems to extract the data and load into main data warehouse and various datamarts to support report users of the insurance compan in Sweden.</span></p>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">ETL and Report Development.(Jul 2012 – Dec 2012)</span> - 
                    <p><span class="project-tagline">The objective of this project is to create the EDW to support report users of the Banking company in Canada.</span></p>
                </div><!--//item-->
            </section><!--//section-->
